@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,800;1,800&display=swap");

:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);
  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
}

.container {
  background-color: var(--White);
  display: flex;
  margin-bottom: 100px;
  width: 500px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.left-container {
  background: linear-gradient(
    var(--Light-slate-blue-background),
    var(--Light-royal-blue-background)
  );
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  padding: 25px;
  border-radius: 22px;
  width: 50%;
}

.left-container h4 {
  color: var(--Light-lavender);
  margin-bottom: 10px;
}

.left-container h3 {
  color: var(--White);
}

.left-container p {
  color: var(--Light-lavender);
  font-size: 15px;
}

.circle {
  width: 120px;
  height: 120px;
  background: linear-gradient(
    var(--Violet-blue-circle),
    var(--Persian-blue-circle)
  );
  border-radius: 50%;
  color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.circle h1 {
  font-size: 3rem;
}

.circle p {
  font-size: 13px;
}

.right-container {
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: space-evenly;
  width: 50%;
  border-radius: 0 22px 22px 0;
}

.right-container h3 {
  color: var(--Dark-gray-blue);
  margin-bottom: 10px;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border-radius: 5px;
}

.list div {
  display: flex;
  gap: 6px;
}

.list-1 div p {
  color: var(--Light-red);
}

.list-2 div p {
  color: var(--Orangey-yellow);
}

.list-3 div p {
  color: var(--Green-teal);
}

.list-4 div p {
  color: var(--Cobalt-blue);
}

.right-container button {
  background-color: var(--Dark-gray-blue);
  padding: 12px;
  color: var(--White);
  border-radius: 2rem;
  border: none;
  outline: none;
  margin-top: 20px;
}

.list span {
  color: hsl(224, 30%, 27%, 0.6);
}

.list-1 {
  background-color: hsla(0, 100%, 67%, 0.08);
}

.list-2 {
  background-color: hsl(39, 100%, 56%, 0.08);
}

.list-3 {
  background-color: hsl(166, 100%, 37%, 0.08);
}

.list-4 {
  background-color: hsl(234, 85%, 45%, 0.08);
}

@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100%;
    border-radius: 0;
  }
  .left-container {
    padding: 40px;
    width: 100%;
    border-radius: 0 0 22px 22px;
  }
  .left-container h4 {
    margin-bottom: 25px;
  }
  .left-container h3 {
    margin-bottom: 10px;
  }
  .left-container p {
    font-size: 18px;
  }
  .left-container .of-100 {
    font-size: 15px;
  }
  .circle {
    margin-bottom: 30px;
  }
  .right-container {
    width: 100%;
  }
  .right-container h3 {
    margin-bottom: 20px;
  }
  .list {
    margin-bottom: 15px;
    padding: 10px;
  }
}
